@page
@using WalleeCharging.Price
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Charging Parameters</h1>
<form method="post">
    <div>
        <label>Max meter power [watts]</label>
        <input type="number" name="maxTotalPowerWatts" value="@Model.ChargingParameters.MaxTotalPowerWatts"> 
    </div>
    <div>
        <label>Max day-ahead price [eurocent/MWh]</label>
        <input id="maxPriceEurocentPerMWh" type="number" name="maxPriceEurocentPerMWh" value="@Model.ChargingParameters.MaxPriceEurocentPerMWh"> 
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<h1>Prices</h1>
<canvas id="priceChart" style="max-height: 50vh;"></canvas>

<h1>Activity</h1>
<ul id="activityList">
</ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr-subscriber.js"></script>

<!-- price chart -->
<script>
const prices = [
  @foreach (ElectricityPrice price in Model.Prices)
  {
      <text>@(price.PriceEurocentPerMWh),</text>
  }
]

const labels = [
    @foreach (var price in Model.Prices)
    {
      <text>new Date('@(price.Time.ToString("o", CultureInfo.InvariantCulture))'),</text>
    }
]
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/price-chart.js"></script>
<script>
highlightBarsWithPriceEqualOrBelow(@(Model.ChargingParameters.MaxPriceEurocentPerMWh))

document.getElementById('maxPriceEurocentPerMWh').addEventListener("change", function() {
  const currentMaxPrice = document.getElementById('maxPriceEurocentPerMWh').value;
  highlightBarsWithPriceEqualOrBelow(currentMaxPrice);
});
</script>